---
import fs from "fs";
import path from "path";

export function getStaticPaths() {
  const postsDir = "src/content/posts";
  
  // If directory doesn't exist or is empty, return empty array
  if (!fs.existsSync(postsDir)) {
    return [];
  }
  
  const files = fs.readdirSync(postsDir);
  
  return files.map(file => {
    const content = fs.readFileSync(`${postsDir}/${file}`, "utf8");
    const slug = file.replace(/\.md$/, "");
    
    return {
      params: { slug },
      props: { content }
    };
  });
}

const { content } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>TradeDecode Post</title>
  </head>
  <body>
    <article>
      <pre>{content}</pre>
    </article>
  </body>
</html>
