---
import fs from "fs";

const { slug } = Astro.params;
const file = fs.readFileSync(`src/content/posts/${slug}.md`, "utf8");
export const content = file;
---

<html>
  <body>
    <article>
      <pre>{content}</pre>
    </article>
  </body>
</html>
